

<%- include("header") %>

<h2>This is a simple website for a to-do list created by
    Govnd B Chandran just for learning full stack web dev
</h2>

<p> Feel free to contact me</p>

<%- include("footer") %>
