<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles.css" rel="stylesheet">
    <title>To-do List</title>
</head>
<body>

    <div class="box" id="heading">
        <h1> <%= kindofday %></h1>

    </div>
    
    <div class="box">

            <%  for(var i=0; i<newlistitems.length; i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p> <%= newlistitems[i] %> </p>
                </div>

            <%  } %>
      
    </div>

    <form class="" action="/" method="POST">
    <input type="text" name = "newitem" placeholder="New item">
    <button type="submit" name="button">+</button>
    
    </form>
</body>
</html>
