<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
</head>
<body>


    <h1> <%= kindofday %></h1>

    <ul>
        <li> Buy food</li>
        <li>Eat food</li>

      <%  for(var i=0; i<newlistitems.length; i++){ %>
            <li> <%= newlistitems[i] %> </li>
      <%  } %>
 </ul>

    <form class="" action="/" method="POST">
    <input type="text" name = "newitem">
    <button type="submit" name="button">Add</button>
    
    </form>
</body>
</html>
