body{
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat","Segoe UI Light","Avenir";
}
.square{
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
}
#container{
    margin: 2vh auto;
    max-width: 700px;
}

h1{
    color: white;
    font-size: 5vh;
    font-weight: normal;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    padding: 3vh 0;
}

#stripe{
    background-color: white;
    height: 5vh;
    text-align: center;
}

.selected{
    color: white;
    background: steelblue;
}

#coldis{
    font-size: 200%;
    font-weight: bold;
}

button{
    border:none;
    background:none;
    text-transform: uppercase;
    height: 100%;
    font-size: inherit;
    font-weight: bold;
    color: steelblue;
    outline: none;
    letter-spacing: 0.2vh;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

button:hover{
    color: white;
    background: steelblue;
}

#message{
    display: inline-block;
    width: 20%;
}