<%- include("partial/header"); -%>

<h1>Compose</h1>

<form class="" action="/compose" method="post">
    <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="posting">
    <label>Content</label>
    <textarea class="form-control" type="text" name="content" cols=30 rows=10></textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include("partial/footer"); -%>