:root{
    --model-duration: 1s;
}
.model{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.5);
}

.model-content{
    background: #fff;
    text-align: center;
    margin: 10% auto;
    width: 350px;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modelopen;
    animation-duration: var(--model-duration);
}

.model-content p{
    font-size: 1.2rem;
    margin-top: 1rem;
}

@keyframes modelopen{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}