@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
    --primary-color: #003699;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --purple-color: #b300ff;
    --pink-color: #ff2be6;
    --lose-color: #dc3545;
    --win-color: #28a745;
    --model-duration: 1s;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto',sans-serif;
    line-height: 1.6;
    background: #fff;
    color: #333;
}

.M_head{
    color: #ff8f00;
    font-size: 3.5rem;
}

.S_head{
    color: #3fff14;
    font-size: 2rem;
}

.container{
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
    text-align: center;
}

.restart-btn{
    display: none;
    background: #65a3ff;
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    margin-bottom: 1rem;
}

.restart-btn:hover{
    background: var(--primary-color);
    color: #fff;
}

.header {
    text-align: center;
    margin: 1rem 0;
}

.header h1{
    margin-bottom: 1rem;
}

.score{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    color: #fff;
}

.score p:first-child{
    background: var(--purple-color);   
}

.score p:last-child{
    background: var(--pink-color);   
}

.choices{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    text-align: center;
}

.choice{
    cursor: pointer;
}

.choice:hover{
    color: var(--primary-color);
}

.text-win{
    color: var(--win-color);
}

.text-lose{
    color: var(--lose-color);
}

@media(max-width: 700px){
    .choice{
        font-size: 110px;
    }
}

@media(max-width: 500px){
    .choice{
        font-size: 80px;
    }
}

